<!DOCTYPE html> 
<h:html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

	<ui:composition template="/resources/templates/global.xhtml">
		<ui:define name="container">
			<div class="page-content-wrapper">
				<div class="page-content">
					<!-- BEGIN PAGE HEADER-->
					<h3 class="page-title">
						<ui:insert name="pagaDescription"></ui:insert>
					</h3>
					<div class="page-bar">
						<ui:insert name="pageLinks">Defina los links de la página</ui:insert>
						<div class="page-toolbar">
							<div class="pull-right tooltips grey-salt" data-placement="top" >
								<h:form>
									<span><h:outputText value="#{home.usuario}" ></h:outputText></span>
									<h:commandButton class="btn green" action="#{cuentaBean.logout}" target="_blank" value=" Logout" />
								</h:form>
							</div>
						</div>
					</div>
					<!-- END PAGE HEADER-->
					<!-- BEGIN CENTERED CONTENT -->
					<ui:insert name="pageContent">Defina el contenido de la página</ui:insert>
					<!-- BEGIN CENTERED CONTENT -->
				</div>
			</div> 
		</ui:define>
   	</ui:composition> 
</h:html>
