<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
	<h:head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta content="" name="description"/>
		<meta content="" name="author"/>

		<!-- BEGIN COMMON STYLES -->
		<ui:insert name="styles" >
			<ui:include src="/resources/templates/styles.xhtml" />
		</ui:insert> 
		<!-- END COMMON STYLES -->
		
		<title>
			<!-- BEGIN TITLE -->
			<ui:insert name="pageTitle">Defina el título de la pagina</ui:insert>
			<!-- END TITLE -->
		</title>
	</h:head>

	<h:body class="">
		<!-- BEIGN HEADER -->
		<ui:insert name="header" >
			<ui:include src="/resources/templates/header.xhtml" />
		</ui:insert>
		<!-- END HEADER -->
		
		<div class="page-container">
			<!-- BEGIN SIDEBAR -->
			<ui:insert name="sidebar" >
				<ui:include src="/resources/templates/sidebar.xhtml" />
			</ui:insert> 
			<!-- END SIDEBAR -->
			<!-- BEGIN CONTAINER -->
			<ui:insert name="container">Defina el contenido de la pagina</ui:insert>
			<!-- END CONTAINER -->
		</div>
		
		<!-- BEGIN FOOTER -->
		<ui:insert name="footer" >
			<ui:include src="/resources/templates/footer.xhtml" />
		</ui:insert>
		<!-- END FOOTER -->
		<!-- BEGIN PLUGINS -->
		<ui:insert name="plugins" >
			<ui:include src="/resources/templates/plugins.xhtml" />
		</ui:insert> 
		<!-- END PLUGINS -->
		<ui:debug/>
	</h:body>
</h:html>