<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
 
	<body>
		<ui:composition>
			<h:outputScript library="theme/assets/global/plugins" 							name="jquery.min.js" />
			<h:outputScript library="theme/assets/global/plugins" 							name="jquery-migrate.min.js" />
			<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
			<h:outputScript library="theme/assets/global/plugins/jquery-ui" 				name="jquery-ui-1.10.3.custom.min.js" />
			<h:outputScript library="theme/assets/global/plugins/bootstrap/js" 				name="bootstrap.min.js" />
			<h:outputScript library="theme/assets/global/plugins/bootstrap-hover-dropdown" 	name="bootstrap-hover-dropdown.min.js" />
			<h:outputScript library="theme/assets/global/plugins/jquery-slimscroll" 		name="jquery.slimscroll.min.js" />
			<h:outputScript library="theme/assets/global/plugins" 							name="jquery.blockui.min.js" />
			<h:outputScript library="theme/assets/global/plugins" 							name="jquery.cokie.min.js" />
			<h:outputScript library="theme/assets/global/plugins/uniform" 					name="jquery.uniform.min.js" />
			<h:outputScript library="theme/assets/global/plugins/bootstrap-switch/js" 		name="bootstrap-switch.min.js" />
			<!-- END CORE PLUGINS -->
			<!-- BEGIN PAGE LEVEL PLUGINS -->
			<h:outputScript library="theme/assets/global/plugins/jqvmap/jqvmap" 			name="jquery.vmap.js" />
			<h:outputScript library="theme/assets/global/plugins/jqvmap/jqvmap/maps" 		name="jquery.vmap.russia.js" />
			<h:outputScript library="theme/assets/global/plugins/jqvmap/jqvmap/maps" 		name="jquery.vmap.world.js" />
			<h:outputScript library="theme/assets/global/plugins/jqvmap/jqvmap/maps" 		name="jquery.vmap.europe.js" />
			<h:outputScript library="theme/assets/global/plugins/jqvmap/jqvmap/maps" 		name="jquery.vmap.germany.js" />
			<h:outputScript library="theme/assets/global/plugins/jqvmap/jqvmap/maps" 		name="jquery.vmap.usa.js" />
			<h:outputScript library="theme/assets/global/plugins/jqvmap/jqvmap/data" 		name="jquery.vmap.sampledata.js" />
			<h:outputScript library="theme/assets/global/plugins/flot" 						name="jquery.flot.min.js" />
			<h:outputScript library="theme/assets/global/plugins/flot" 						name="jquery.flot.resize.min.js" />
			<h:outputScript library="theme/assets/global/plugins/flot" 						name="jquery.flot.categories.min.js" />
			<h:outputScript library="theme/assets/global/plugins" 							name="jquery.pulsate.min.js" />
			<h:outputScript library="theme/assets/global/plugins/bootstrap-daterangepicker" name="moment.min.js" />
			<h:outputScript library="theme/assets/global/plugins/bootstrap-daterangepicker" name="daterangepicker.js" />
			<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
			<h:outputScript library="theme/assets/global/plugins/fullcalendar" 				name="fullcalendar.min.js" />
			<h:outputScript library="theme/assets/global/plugins/jquery-easypiechart" 		name="jquery.easypiechart.min.js" />
			<h:outputScript library="theme/assets/global/plugins" 							name="jquery.sparkline.min.js" />
			<!-- END PAGE LEVEL PLUGINS -->
			<!-- BEGIN PAGE LEVEL SCRIPTS -->
			

			<h:outputScript library="theme/assets/global/plugins/jquery-validation/js" 		name="jquery.validate.min.js" />
			<h:outputScript library="theme/assets/global/plugins/jquery-validation/js" 		name="additional-methods.min.js" />
			<h:outputScript library="theme/assets/global/plugins/bootstrap-wizard" 			name="jquery.bootstrap.wizard.min.js" />			

			<h:outputScript library="theme/assets/global/plugins/bootstrap-select" 			name="bootstrap-select.min.js" />
			<h:outputScript library="theme/assets/global/plugins/select2" 					name="select2.min.js" />
			<h:outputScript library="theme/assets/global/plugins/jquery-multi-select/js"	name="jquery.multi-select.js" />

			<h:outputScript library="theme/assets/global/scripts" 							name="metronic.js" />
			<h:outputScript library="theme/assets/admin/layout/scripts" 					name="layout.js" />
			<h:outputScript library="theme/assets/admin/layout/scripts" 					name="quick-sidebar.js" />
			<h:outputScript library="theme/assets/admin/layout/scripts" 					name="demo.js" />
			<h:outputScript library="theme/assets/admin/pages/scripts" 						name="form-wizard.js" />
			
			<h:outputScript library="theme/assets/admin/pages/scripts" 						name="index.js" />
			<h:outputScript library="theme/assets/admin/pages/scripts" 						name="tasks.js" />
			<!-- END PAGE LEVEL SCRIPTS -->
			<script>
				jQuery(document).ready(function() {    
				   Metronic.init(); // init metronic core componets
				   Layout.init(); // init layout
				   QuickSidebar.init(); // init quick sidebar
				   Demo.init(); // init demo features 
				   //Index.init();   
				   //Index.initDashboardDaterange();
				   //Index.initJQVMAP(); // init index page's custom scripts
				   //Index.initCalendar(); // init index page's custom scripts
				   //Index.initCharts(); // init index page's custom scripts
				   //Index.initChat();
				   //Index.initMiniCharts();
				   //Tasks.initDashboardWidget();
				   FormWizard.init();
				});
			</script>
		</ui:composition>
	</body>
</html>