<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:shiro="http://shiro.apache.org/tags">

		<ui:composition>
			<h:form>
			<!-- BEGIN SIDEBAR -->
			<div class="page-sidebar-wrapper">
				<div class="page-sidebar navbar-collapse collapse">
					<!-- BEGIN SIDEBAR MENU -->
					<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
						<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
						<li class="sidebar-toggler-wrapper">
							<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
							<div class="sidebar-toggler">
							</div>
							<!-- END SIDEBAR TOGGLER BUTTON -->
						</li>
						<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
						<li class="sidebar-search-wrapper">
							<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
							
							<div class="sidebar-search ">
								<a href="javascript:;" class="remove">
								<i class="icon-close"></i>
								</a>
								<div class="input-group">
								</div>
							</div>
							
							<!-- END RESPONSIVE QUICK SEARCH FORM -->
						</li>
						<shiro:hasRole name="Administrador">
							<li class="start active open">
								<a href="javascript:;" >
								<i class="icon-home"></i>
								<span class="title">Mantención</span>
								</a>
								<ul class="sub-menu">
									<li>
										<h:link value="Clientes" outcome="/views/app/administracion/listaClientes"/>
									</li>
									<li>
										<h:link value="Proveedores" outcome="/views/app/administracion/listaProveedores"/>
									</li>
									<li>
										<h:link value="Impuesto" outcome="/views/app/administracion/listaImpuestos"/>
									</li>
									<li>
										<h:link value="Usuarios" outcome="/views/app/administracion/listaUsuarios"/>
									</li>
								</ul>
							</li>
						</shiro:hasRole>
						<shiro:hasRole name="Operador">
							<li class="start active open" >
								<a href="javascript:;">
								<i class="icon-home"></i>
								<span class="title">Operación</span>
								</a>
								<ul class="sub-menu">
									<li>
										<h:link value="Materiales" outcome="/views/app/operacion/listaMateriales"/>
									</li>
									<li>
										<h:link value="Surtido" outcome="/views/app/operacion/listaSurtidos"/>
									</li>
									<li>
										<h:link value="Devolucion" outcome="/views/app/operacion/listaDevoluciones"/>
									</li>
									<li>
										<h:link value="Gastos" outcome="/views/app/operacion/listaGastos"/>
									</li>
								</ul>
							</li>
						</shiro:hasRole>
						<shiro:hasRole name="Vendedor">
							<li class="start active open">
								<a href="javascript:;">
								<i class="icon-home"></i>
								<span class="title">Ventas</span>
								</a>
								<ul class="sub-menu">
									<li>
										<h:link value="Ordenes" outcome="/views/app/ventas/listaOrdenes"/>
									</li>
									<li>
										<h:link value="Facturas" outcome="/views/app/ventas/listaFacturas"/>
									</li>
									<li>
										<h:link value="Pagos" outcome="/views/app/ventas/listaAbonos"/>
									</li>
								</ul>
							</li>
						</shiro:hasRole>
						<shiro:hasRole name="Operador">
							<li class="start active open">
								<a href="javascript:;">
								<i class="icon-settings"></i>
								<span class="title">Reportes</span>
								</a>
								<ul class="sub-menu">
									<li>
										<h:link value="Stock Materiales" outcome="/views/app/reportes/listaStockMateriales"/>
									</li>
									<li>
										<h:link value="Resumen de facturas" outcome="/views/app/reportes/listaResumenFacturas"/>
									</li>
									<li>
										<h:link value="Resumen de ventas" outcome="/views/app/reportes/listaResumenVentas"/>
									</li>
								</ul>
							</li>
						</shiro:hasRole>
					</ul>
					<!-- END SIDEBAR MENU -->
				</div>
			</div>
			<!-- END SIDEBAR -->
			</h:form>
		</ui:composition>
</html>