<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<body>
		<ui:composition>
			<!-- BEGIN GLOBAL MANDATORY STYLES -->
			<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" />
			<h:outputStylesheet library="theme/assets/global/plugins/font-awesome/css" 			name="font-awesome.min.css" />
			<h:outputStylesheet library="theme/assets/global/plugins/simple-line-icons" 		name="simple-line-icons.min.css"/>
			<h:outputStylesheet library="theme/assets/global/plugins/bootstrap/css" 			name="bootstrap.min.css" />
			<h:outputStylesheet library="theme/assets/global/plugins/uniform/css" 				name="uniform.default.css" />
			<h:outputStylesheet library="theme/assets/global/plugins/bootstrap-switch/css" 		name="bootstrap-switch.min.css" />
			<!-- END GLOBAL MANDATORY STYLES -->
			<!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
			<h:outputStylesheet library="theme/assets/global/plugins/bootstrap-daterangepicker" name="daterangepicker-bs3.css" />
			<h:outputStylesheet library="theme/assets/global/plugins/fullcalendar" 				name="fullcalendar.min.css" />
			<h:outputStylesheet library="theme/assets/global/plugins/jqvmap/jqvmap" 			name="jqvmap.css" />
			<!-- END PAGE LEVEL PLUGIN STYLES -->
			<!-- BEGIN PAGE STYLES -->
			<h:outputStylesheet library="theme/assets/admin/pages/css" 							name="tasks.css" />
			<h:outputStylesheet library="theme/assets/global/plugins/bootstrap-select"			name="bootstrap-select.min.css" />
			<h:outputStylesheet library="theme/assets/global/plugins/select2"					name="select2.css" />
			<h:outputStylesheet library="theme/assets/global/plugins/jquery-multi-select/css"	name="multi-select.css" />
			<!-- END PAGE STYLES -->
			<!-- BEGIN THEME STYLES -->
			<!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
			<h:outputStylesheet library="theme/assets/global/css" 								name="components.css" id="style_components" />
			<h:outputStylesheet library="theme/assets/global/css" 								name="plugins.css" />
			<h:outputStylesheet library="theme/assets/admin/layout/css" 						name="layout.css" />
			<h:outputStylesheet library="theme/assets/admin/layout/css/themes" 					name="default.css" />
			<h:outputStylesheet library="theme/assets/admin/layout/css" 						name="custom.css" />
			
			<h:outputStylesheet library="theme/assets/admin/pages/css" 							name="error.css" />
			
			<!-- END THEME STYLES -->
			<!-- 
				<h:outputStylesheet library="" 														name="favicon.ico" /> 
			-->
			<!-- Debe asignarse a un nuevo archivo de estilo propio de la aplicación -->
			<style type="text/css">
            	.ui-growl{
            		top: 47px;
                	float: left;
            	}
            	
        		.ui-selectonemenu .ui-selectonemenu-trigger { 
        			display: inline-block; 
        			vertical-align: top; 
        			width: 23px;
        		}
        		
        		.ui-selectonemenu-filter-container {
    				width: 98% !important;
				}

				.ui-datepicker {
				}
        	</style>
		</ui:composition>
	</body>
</html>