<!DOCTYPE html> 
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"> 

	<ui:composition template="/resources/templates/container.xhtml">
		<ui:define name="pageTitle">Nuevo titulo</ui:define>
		<ui:define name="pageDescription">Descripción de la Página</ui:define>
		<ui:define name="pageLinks">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<h:link value="Inicio" outcome="/views/app/index.html"/>
					<i class="fa fa-angle-right"></i>
				</li>
				<li>
					<a href="dashboard.html">Dashboard</a>
				</li>
			</ul>
		</ui:define>
		<ui:define name="pageContent">
			<div class="row ">
				<div class="col-md-6 col-sm-6">
					<div class="portlet box blue-steel">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>Recent Activities
							</div>
							<div class="actions">
								<div class="btn-group">
									<a class="btn btn-sm btn-default dropdown-toggle" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
									Filter By <i class="fa fa-angle-down"></i>
									</a>
									<div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
										<label><input type="checkbox"/> Finance</label>
										<label><input type="checkbox"/> Membership</label>
										<label><input type="checkbox"/> Customer Support</label>
										<label><input type="checkbox"/> HR</label>
										<label><input type="checkbox"/> System</label>
									</div>
								</div>
							</div>
						</div>
						<div class="portlet-body">
							<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
								<ul class="feeds">
									<li>
										<a href="#">
										<div class="col1">
											<div class="cont">
												<div class="cont-col1">
													<div class="label label-sm label-info">
														<i class="fa fa-briefcase"></i>
													</div>
												</div>
												<div class="cont-col2">
													<div class="desc">
														 #{home.getUsuario()}
													</div>
												</div>
											</div>
										</div>
										<div class="col2">
											<div class="date">
												 20 mins
											</div>
										</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="scroller-footer">
								<div class="btn-arrow-link pull-right">
									<a href="#">See All Records</a>
									<i class="icon-arrow-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ui:define>
	</ui:composition> 
</h:html>
