<!DOCTYPE html> 
<h:html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

	<h:head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta content="width=device-width, initial-scale=1" name="viewport"/>
		<meta content="" name="description"/>
		<meta content="" name="author"/>

		<!-- BEGIN COMMON STYLES -->
		<ui:insert name="styles" >
			<ui:include src="/resources/templates/styles.xhtml" />
		</ui:insert> 
		<!-- END COMMON STYLES -->
		
		<title>
			<!-- BEGIN TITLE -->
			500
			<!-- END TITLE -->
		</title>
	</h:head>

	<h:body>
		<!-- BEIGN HEADER -->
		<ui:insert name="header" >
			<ui:include src="/resources/templates/header.xhtml" />
		</ui:insert>
		<!-- END HEADER -->
		
		<div class="page-container">
			<div class="">
				<div class="page-content">
					<!-- BEGIN PAGE HEADER-->
				<div class="row">
					<div class="col-md-12 page-500">
						<div class="number" >
							 500
						</div>
						<div class="details">
							<h3>Ups! Algo anduvo mal.</h3>
							<p>
								¡Lo estamos arreglando!<br></br>
								Por favor intentalo mas tarde.<br></br>
							</p>
						</div>
					</div>
				</div>
				</div>
			</div> 
			
		</div>
		
		<!-- BEGIN PLUGINS -->
		<ui:insert name="plugins" >
			<ui:include src="/resources/templates/plugins.xhtml" />
		</ui:insert> 
		<!-- END PLUGINS -->
		<ui:debug/>
	</h:body>
</h:html>
