<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
      
	<h:head>
		<ui:insert name="styles" >
			<ui:include src="/resources/templates/styles.xhtml" />
		</ui:insert> 
		<h:outputStylesheet library="theme/assets/admin/pages/css" name="login.css" />
		
		<title>
			Login
		</title>
	</h:head>
      
	<h:body styleClass="login">
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<div class="menu-toggler sidebar-toggler">
		</div>
		<!-- END SIDEBAR TOGGLER BUTTON -->
		<!-- BEGIN LOGO -->
		<div class="logo">
			<a href="index.xhtml">
			</a>
		</div>
		<!-- END LOGO -->
		<!-- BEGIN LOGIN -->
		<div class="content" style="width: 600px;">
			<!-- BEGIN LOGIN FORM -->
			<h:form id="login" class="login-form">
				<f:event type="preRenderView" listener="#{loginBean.verificaSesionIniciada}" />
			 	<p:messages id="messages" autoUpdate="true" closable="true" />
				<h3 class="form-title">Autenticación</h3>
				<div class="alert alert-danger display-hide">
					<button class="close" data-close="alert"></button>
					<span>
					Ingresa tu usuario y contraseña. </span>
				</div>
				<div class="form-group">
					<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
					<label class="control-label visible-ie8 visible-ie9">Usuario</label>
					<h:inputText class="form-control form-control-solid placeholder-no-fix" id="username" type="text" autocomplete="off" placeholder="Username" name="username" value="#{loginBean.username}"/>
				</div>
				<div class="form-group">
					<label class="control-label visible-ie8 visible-ie9">Contraseña</label>
					<h:inputSecret class="form-control form-control-solid placeholder-no-fix" id="password" type="password" autocomplete="off" placeholder="Password" name="password" value="#{loginBean.password}"/>
				</div>
				<div class="form-actions">
					<h:commandButton value="Ingresa" class="btn btn-success uppercase" actionListener="#{loginBean.doLogin}"/>
					<label class="rememberme check">
					<h:selectBooleanCheckbox name="rememberMe"  value="#{loginBean.rememberMe}"/>Recordar </label>
					<a href="javascript:;" id="forget-password" class="forget-password">¿Olvidó contraseña?</a>
				</div>
		
				<div class="create-account">
					<p>
					</p>
				</div>
			</h:form>
			<!-- END LOGIN FORM -->
			
			<!-- BEGIN FORGOT PASSWORD FORM -->
			<h:form class="forget-form" action="index.xhtml" method="post" prependId="false">
				<h3>¿ Olvidó la contraseña ?</h3>
				<p:wizard flowListener="#{olvidaContraseñaBean.onFlowProcess}">
			        <p:tab id="personal" title="Usuario">
			            <p:panel header="Detalle personal">
			                <p:messages />
		                    <p:inputText value="#{olvidaContraseñaBean.username}" required="true" requiredMessage="Nombre de usuario obligatorio" placeholder="Nombre de usuario" style="width: 100%"/>
			            </p:panel>
			        </p:tab>
			 
			        <p:tab id="activacion" title="Código">
			            <p:panel header="Detalle de la activación">
			                <p:messages />
							<p:inputText value="#{olvidaContraseñaBean.codigoActivacion}" required="true" requiredMessage="Codigo de activación obligatorio" placeholder="Codigo de activación" style="width: 100%"/>
			            </p:panel>
			        </p:tab>
			 
			        <p:tab id="contraseña" title="Contraseña">
			            <p:panel header="Contact Information">
			                <p:messages />
							<p:password value="#{olvidaContraseñaBean.firstPassword}" required="true" requiredMessage="Contraseña obligatoria" placeholder="Nueva contraseña" style="width: 100%"/>
							<p:password value="#{olvidaContraseñaBean.secondPassword}" required="true" requiredMessage="Contraseña obligatoria" placeholder="Nueva contraseña" style="width: 100%"/>
			            </p:panel>
			        </p:tab>
			 
			        <p:tab id="confirma" title="Confirma">
			            <p:panel header="Confirmation">
			                <h:panelGrid id="confirmation" columns="3" columnClasses="grid,grid,grid">
			                    <h:panelGrid columns="2" columnClasses="label, value">
			                        <h:outputText value="Firstname: " />asas
			                        <h:outputText value="#{userWizard.user.firstname}" styleClass="outputLabel"/>
			                    </h:panelGrid>
			                </h:panelGrid>
			 
			                <p:commandButton value="Submit" actionListener="#{olvidaContraseñaBean.actualizaContraseña()}" process="@this"/>
			            </p:panel>
			        </p:tab>
			    </p:wizard>
				
			</h:form>
			<!-- END FORGOT PASSWORD FORM -->
			
		</div>
		<div class="copyright">
			 2015 © Jormat.
		</div>
		
		<h:outputScript library="theme/assets/global/plugins" 							name="jquery.min.js" />
		<h:outputScript library="theme/assets/global/plugins" 							name="jquery-migrate.min.js" />
		<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		<h:outputScript library="theme/assets/global/plugins/bootstrap/js" 				name="bootstrap.min.js" />
		<h:outputScript library="theme/assets/global/plugins" 							name="jquery.blockui.min.js" />
		<h:outputScript library="theme/assets/global/plugins" 							name="jquery.cokie.min.js" />
		<h:outputScript library="theme/assets/global/plugins/uniform" 					name="jquery.uniform.min.js" />
		<!-- END CORE PLUGINS -->
		<!-- BEGIN PAGE LEVEL PLUGINS -->
		<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
		<h:outputScript library="theme/assets/global/plugins/jquery-validation/js"		name="jquery.validate.min.js" />
		<!-- END PAGE LEVEL PLUGINS -->
		<!-- BEGIN PAGE LEVEL SCRIPTS -->
		<h:outputScript library="theme/assets/global/scripts" 							name="metronic.js" />
		<h:outputScript library="theme/assets/admin/layout/scripts" 					name="layout.js" />
		<h:outputScript library="theme/assets/admin/layout/scripts" 					name="demo.js" />
		<h:outputScript library="theme/assets/admin/pages/scripts" 						name="login.js" />
		<!-- END PAGE LEVEL SCRIPTS -->
		<script>
			jQuery(document).ready(function() {     
				Metronic.init(); // init metronic core components
				Layout.init(); // init current layout
				Login.init();
				Demo.init();
			});
		</script>
		<!-- END JAVASCRIPTS -->
	</h:body>
</h:html>