<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Proveedores</ui:define>
	<ui:define name="pageDescription">Listado de proveedores</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Proveedores"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form prependId="false" id="form0">
			<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" showSummary="false"/>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Listado de proveedores
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<p:commandButton value="Nuevo Proveedor +" id="sample_editable_1_new" class="btn green" actionListener="#{proveedorBean.asignaNuevoProveedor()}" oncomplete="PF('dialog').show()" update="@form" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaProveedores" fileName="proveedores" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaProveedores" fileName="proveedores" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
							
								<!-- BEGIN TABLA -->
								<p:dataTable 
										id="tablaProveedores"
										widgetVar="wvProveedores"
										value="#{proveedorBean.proveedores}" 
										var="proveedor"
										paginator="true"
										rows="10"
										rowsPerPageTemplate="10,20,30"
										style="margin-bottom:20px"
										filteredValue="#{proveedorBean.proveedoresFiltrados}"
										update="@form"
										paginatorPosition="bottom"
										emptyMessage="No se encontraron registros">
									
									<f:facet name="header">
										<div align="left">        
											<h:outputText value="Filtrado por :" />
										</div>
									</f:facet>
									
									<p:column headerText="Rut" filterBy="#{proveedor.rut}" filterMatchMode="contains">
										<h:outputText value="#{proveedor.rut}"/>
								    </p:column>

								    <p:column headerText="razon social" filterBy="#{proveedor.razonSocial}" filterMatchMode="contains">
               							<h:outputText value="#{proveedor.razonSocial}"/>
								    </p:column>
								    
									<p:column headerText="Direccion" filterBy="#{proveedor.direccion}" filterMatchMode="contains">
               							<h:outputText value="#{proveedor.direccion}"/>
								    </p:column>
								    
								    <p:column headerText="Telefono" filterBy="#{proveedor.telefono}" filterMatchMode="contains">
               							<h:outputText value="#{proveedor.telefono}"/>
								    </p:column>
								    
	       							<!-- Columna con el boton para editar -->
	       							<p:column exportable="false" style="width:75px" headerText="Modifica">
           								<p:commandButton icon="ui-icon-search" title="Modifica proveedor" oncomplete="PF('dialog').show()" update=":form1">
           									<f:setPropertyActionListener value="#{proveedor}" target="#{proveedorBean.proveedorSeleccionado}" />
           								</p:commandButton>
       								</p:column>
       								<p:column exportable="false" style="width:70px" headerText="Elimina">
                   						<p:commandButton icon="ui-icon-trash" title="Elimina proveedor" actionListener="#{proveedorBean.eliminaProveedor(proveedor)}" update=":form0:tablaProveedores" >
                   							<p:confirm header="Confirma" message="¿ Estás seguro ?" icon="ui-icon-alert" />
                   						</p:commandButton>
       								</p:column>
       								
								</p:dataTable>	
								<!-- END TABLA -->
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" >
							        <p:commandButton value="Elimina" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							        <p:commandButton value="Cancela" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							    </p:confirmDialog>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		<p:dialog 
				id="idDialog"
				showHeader="false"
				widgetVar="dialog" 
				showEffect="explode"  
				draggable="false" 
				modal="true" 
				closable="false" 
				dynamic="true" 
				position="center"
				resizable="false"
				width="50%"	>
			
			<h:form id="form1">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN Portlet PORTLET-->
						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift"></i>Formulario Proveedor
								</div>
							</div>
							<div class="portlet-body form portlet-empty">
								<div class="form-body">
									<div class="form-group">
										<label for="rut">Rut</label>
										<p:inputText id="rut" value="#{proveedorBean.proveedorSeleccionado.rut}" converter="rutConverter" styleClass="form-control" style="width:100%" placeholder="Ingrese el rut">
											<p:ajax event="blur" render="@this" update="@this"/>
										</p:inputText>
										<span class="help-block">
										</span>
									</div>
									<div class="form-group">
										<label for="razonSocial">Razon social</label>
										<p:inputText id="razonSocial" value="#{proveedorBean.proveedorSeleccionado.razonSocial}" styleClass="form-control" style="width:100%" placeholder="Ingrese la razon social"/>
										<span class="help-block">
										</span>
									</div>
									<div class="form-group">
										<label for="direccion">Direccion</label>
										<p:inputText id="direccion" value="#{proveedorBean.proveedorSeleccionado.direccion}" styleClass="form-control" style="width:100%" placeholder="Ingrese direccion"/>
										<span class="help-block">
										</span>
									</div>
									<div class="form-group">
										<label for="telefono">Telefono</label>
										<p:inputText id="telfono" value="#{proveedorBean.proveedorSeleccionado.telefono}" styleClass="form-control" style="width:100%" placeholder="Ingrese telefono"/>
										<span class="help-block">
										</span>
									</div>
								</div>
								<div class="form-actions">
									<p:commandButton value="Confirme" class="btn green" actionListener="#{proveedorBean.registraProveedor()}" />
									<p:commandButton value="Cancela" class="btn default" immediate="true" oncomplete="PF('dialog').hide()" />
								</div>
							</div>
						</div>
						<!-- END Portlet PORTLET-->
					</div>
				</div>
			</h:form>							
		</p:dialog>
	</ui:define>
</ui:composition>
</h:html>
