<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Usuarios</ui:define>
	<ui:define name="pageDescription">Lista de usuarios</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Usuarios"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form prependId="false" id="form0">
			<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" showSummary="false"/>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Lista de usuarios
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<p:commandButton value="Nuevo Usuario +" id="sample_editable_1_new" class="btn green" update=":form1:detalleUsuario" actionListener="#{usuarioBean.asignaNuevoUsuario()}" oncomplete="PF('usuarioDialog').show()" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaUsuarios" fileName="usuarios" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaUsuarios" fileName="usuarios" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
								<!-- BEGIN TABLA -->
								<p:dataTable 
									id="tablaUsuarios" 
									widgetVar="tablaUsuariosWidgetVar"
									var="usuario" 
									value="#{usuarioBean.usuarios}"
									paginator="true" 
									filteredValue="#{usuarioBean.usuariosFiltrados}"
									paginatorPosition="bottom"
									emptyMessage="No se encontraron registros">
									
									<f:facet name="header">
										<div align="left">        
											<h:outputText value="Filtrado por :" />
										</div>
									</f:facet>
								 
									<p:column filterBy="#{usuario.idUsuario}" headerText="Id" filterMatchMode="contains">
									    <h:outputText value="#{usuario.idUsuario}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Username"/>
									    </f:facet>
									    <h:outputText value="#{usuario.username}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Habilitado ?" />
									    </f:facet>
									    <h:outputText value="#{usuario.habilitado}" />
									</p:column>

									<p:column style="width:75px;text-align: center" headerText="Modifica">
										<p:commandButton update=":form1:detalleUsuario" oncomplete="PF('usuarioDialog').show()" icon="ui-icon-search" title="View">
											<f:setPropertyActionListener value="#{usuario}" target="#{usuarioBean.usuarioSeleccionado}" />
										</p:commandButton>
							        </p:column>
									
									<p:column style="width:70px;text-align: center" headerText="Elimina">
										<p:commandButton icon="ui-icon-trash" actionListener="#{usuarioBean.eliminaUsuario(usuario)}" update=":form0" oncomplete="PF('tablaUsuariosWidgetVar').filter();" />
							        </p:column>
									
								</p:dataTable>
								
								<!-- END TABLA -->
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</h:form>
		
		 
		<h:form id="form1">
			<!-- Dialog -->
			<p:dialog 
				showHeader="false"
				draggable="false" 
				widgetVar="usuarioDialog" 
				modal="true" 
				closable="false" 
				dynamic="true" 
				position="center"
				resizable="false"
				showEffect="fade" 
				hideEffect="fade" 
				width="50%"	>
			
				<p:outputPanel id="detalleUsuario">
					<div class="row">
						<div class="col-md-12">
							<!-- BEGIN Portlet PORTLET-->
							<div class="portlet box green">
								<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-gift"></i>Formulario Usuario
									</div>
								</div>
								<div class="portlet-body form portlet-empty">
									<div class="form-body">
										<div class="form-group">
											<label for="username">Username</label>
											<p:inputText id="username" value="#{usuarioBean.usuarioSeleccionado.username}" styleClass="form-control" style="width:100%" placeholder="Ingrese el nombre de usuario" />
											<span class="help-block">
											</span>
										</div>
										<div class="form-group">
											<p:selectCheckboxMenu 
												style="width: 300px;"
												id="menuPerfiles" 
												value="#{usuarioBean.perfilesSeleccionados}" 
												label="Perfiles"
												panelStyle="width:300px">
											
												<f:selectItems value="#{usuarioBean.perfiles}" />
											</p:selectCheckboxMenu>
											<span class="help-block">
											</span>
										</div>
										<div class="form-group">
											<label for="habilitado">Habilitado ?</label>
											<p:selectBooleanButton id="habilitado" value="#{usuarioBean.usuarioSeleccionado.habilitado}" onLabel="Si" offLabel="No" style="width:60px" />
											<span class="help-block">
											</span>
										</div>
										<div class="form-group">
											<label for="codigo">Envia Codigo ?</label>
											<p:selectBooleanButton id="codigo" value="#{usuarioBean.usuarioSeleccionado.enviaMail}" onLabel="Si" offLabel="No" style="width:60px" />
											<span class="help-block">
											</span>
										</div>
									</div>
									<div class="form-actions">
										<p:commandButton value="Confirme" class="btn green" actionListener="#{usuarioBean.registraUsuario()}"/>
										<p:commandButton value="Cancela" class="btn default" immediate="true" oncomplete="PF('usuarioDialog').hide()" />
									</div>
								</div>
							</div>
							<!-- END Portlet PORTLET-->
						</div>
					</div>
				</p:outputPanel>
			</p:dialog>
			<!-- End Dialog -->			
		</h:form>									
	
	</ui:define>
</ui:composition>
</h:html>
