<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Impuestos</ui:define>
	<ui:define name="pageDescription">Listado de impuesto</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Impuestos"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form prependId="false" id="form">
			<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" showSummary="false"/>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Listado de impuestos
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<p:commandButton value="Nuevo Impuesto +" id="sample_editable_1_new" class="btn green" actionListener="#{impuestoBean.asignaNuevoImpuesto()}" update=":form1" oncomplete="PF('dialog').show()" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaImpuestos" fileName="clientes" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaImpuestos" fileName="clientes" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
								<!-- INIT TABLA -->
								<p:dataTable id="tablaImpuestos" var="impuesto" value="#{impuestoBean.impuestos}" editable="true" style="margin-bottom:20px" update="@form">
							 
							       <p:ajax event="rowEdit" listener="#{impuestoBean.onRowEdit}" update="@this" />
							       <p:ajax event="rowEditCancel" listener="#{impuestoBean.onRowCancel}" update="@this" />
							 
							       <p:column headerText="Id">
						               <h:outputText value="#{impuesto.idImpuesto}" />
							       </p:column>
							 
							       <p:column headerText="Fecha" >
							           <p:cellEditor>
											<f:facet name="output">
			                                    <h:outputText value="#{impuesto.fecha}">
			                                        <f:convertDateTime pattern="yyyy-MM-dd"/>
			                                    </h:outputText>
			                                </f:facet>
			                                <f:facet name="input">
			                                	<p:calendar id="datetime" value="#{impuesto.fecha}" pattern="yyyy-MM-dd" />
			                                </f:facet>
		                            	</p:cellEditor>
							       </p:column>
							 
							       <p:column headerText="Porcentaje">
							           <p:cellEditor>
											<f:facet name="output"><h:outputText value="#{impuesto.porcentaje}" /></f:facet>
											<f:facet name="input"><p:inputText id="poracentajeInput" value="#{impuesto.porcentaje}" style="width:100%"/></f:facet>
							           </p:cellEditor>
							       </p:column>
							 
							       <p:column style="width:75px" exportable="false" headerText="Modifica">
							           <p:rowEditor />
							       </p:column>
							       
							       <p:column style="width:70px" exportable="false" headerText="Elimina">
							           <p:commandButton icon="ui-icon-trash" title="Elimina impuesto" actionListener="#{impuestoBean.eliminaImpuesto(impuesto)}" update="@form" >
                   							<p:confirm header="Confirma" message="¿ Estás seguro ?" icon="ui-icon-alert" />
                   						</p:commandButton>
							       </p:column>
							       
							   </p:dataTable>
								<!-- END TABLA -->
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" >
							        <p:commandButton value="Elimina" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							        <p:commandButton value="Cancela" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							    </p:confirmDialog>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		
			<!-- DIALOG -->
		<p:dialog 
				id="idDialog"
				showHeader="false"
				widgetVar="dialog" 
				showEffect="explode"  
				draggable="false" 
				modal="true" 
				closable="false" 
				dynamic="true" 
				position="center"
				resizable="false"
				width="50%"	>
				
			<h:form id="form1">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN PORTLET-->
						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift"></i>Formulario Impuesto
								</div>
							</div>
							<div class="portlet-body form portlet-empty">
								<div class="form-body">
									<div class="form-group">
										<label for="porcentaje">Porcentaje</label>
										<p:inputText id="porcentaje" value="#{impuestoBean.impuesto.porcentaje}" styleClass="form-control" style="width:100%" placeholder="Ingrese el porcentaje"/>
										<span class="help-block">
										</span>
									</div>
									<div class="form-group">
										<label for="fecha">Fecha</label><br/>
										<p:calendar id="fecha" value="#{impuestoBean.impuesto.fecha}" pattern="yyyy-MM-dd" />
										<span class="help-block">
										</span>
									</div>
								</div>
								<div class="form-actions">
									<p:commandButton value="Confirme" class="btn green" actionListener="#{impuestoBean.registraImpuesto()}" update=":form:tablaImpuestos" />
									<p:commandButton value="Cancela" class="btn default" immediate="true" oncomplete="PF('dialog').hide()"  />
								</div>
							</div>
						</div>
						<!-- END PORTLET-->
					</div>
				</div>									
			</h:form>
		</p:dialog>								
		<!-- END DIALOG -->
	</ui:define>
</ui:composition>
</h:html>
