<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Clientes</ui:define>
	<ui:define name="pageDescription">Listado de Clientes</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Clientes"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form prependId="false" id="form0">
			<p:growl id="beanValidationMessages" showDetail="false" autoUpdate="true" />
			<p:growl id="messages" showDetail="true" autoUpdate="false" />
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Listado de clientes
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<p:commandButton value="Nuevo Cliente +" id="sample_editable_1_new" class="btn green" actionListener="#{clienteBean.asignaNuevoCliente()}" update=":form1" oncomplete="PF('dialog').show()" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaClientes" fileName="clientes" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaClientes" fileName="clientes" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
							
								<!-- BEGIN TABLA -->
								<p:dataTable 
										id="tablaClientes"
										widgetVar="tablaClientesWidgetVar"
										value="#{clienteBean.clientes}" 
										var="cliente"
										paginator="true"
										rows="10"
										rowsPerPageTemplate="10,20,30"
										style="margin-bottom:20px"
										filteredValue="#{clienteBean.clientesFiltrados}"
										paginatorPosition="bottom"
										emptyMessage="No se encontraron registros"
										update="@form">
									
									<f:facet name="header">
										<div align="left">        
											<h:outputText value="Filtrado por :" />
										</div>
									</f:facet>
									
									<p:column headerText="Rut" filterBy="#{cliente.rut}" filterMatchMode="contains">
										<h:outputText value="#{cliente.rut}"/>
								    </p:column>
								   
								    <p:column headerText="Nombre" filterBy="#{cliente.nombre}" filterMatchMode="contains">
               							<h:outputText value="#{cliente.nombre}"/>
								    </p:column>
								    
								    <p:column headerText="Direccion" filterBy="#{cliente.direccion}" filterMatchMode="contains">
               							<h:outputText value="#{cliente.direccion}"/>
								    </p:column>
								    
								    <p:column headerText="Telefono" filterBy="#{cliente.telefono}" filterMatchMode="contains">
               							<h:outputText value="#{cliente.telefono}"/>
								    </p:column>
								    
	       							<!-- Columna con el boton para editar -->
	       							<p:column exportable="false" style="width:75px" headerText="Modifica">
           								<p:commandButton icon="ui-icon-search" title="Modifica cliente"	oncomplete="PF('dialog').show()" update=":form1" >
           									<f:setPropertyActionListener value="#{cliente}" target="#{clienteBean.clienteSeleccionado}" />
           								</p:commandButton>
       								</p:column>
       								<p:column exportable="false" style="width:70px" headerText="Elimina">
                   						<p:commandButton icon="ui-icon-trash" title="Elimina cliente" actionListener="#{clienteBean.eliminaCliente(cliente)}" update=":form0:messages" oncomplete="PF('tablaClientesWidgetVar').filter();" >
                   							<p:confirm header="Confirma" message="¿ Estás seguro ?" icon="ui-icon-alert" />
                   						</p:commandButton>
       								</p:column>
       								
								</p:dataTable>	
								
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" >
							        <p:commandButton value="Elimina" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							        <p:commandButton value="Cancela" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							    </p:confirmDialog>
								<!-- END TABLA -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		<p:dialog 
			id="idDialog"
			showHeader="false"
			draggable="false" 
			widgetVar="dialog" 
			showEffect="explode"  
			modal="true" 
			closable="false" 
			dynamic="true" 
			position="center"
			resizable="false"
			width="50%"	>
			
			<h:form id="form1">
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN Portlet PORTLET-->
						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift"></i>Formulario Cliente
								</div>
							</div>
							<div class="portlet-body form portlet-empty">
								<div class="form-body">
									<div class="form-group">
										<label for="rut">Rut</label>
										<p:inputText id="rut" value="#{clienteBean.clienteSeleccionado.rut}" converter="rutConverter" styleClass="form-control" style="width:100%" placeholder="Ingrese el rut" >
											<p:ajax event="blur" render="@this" update="@this"/>
										</p:inputText>
										<span class="help-block">
										</span>
									</div>
									<div class="form-group">
										<label for="nombre">Nombre</label>
										<p:inputText id="nombre" value="#{clienteBean.clienteSeleccionado.nombre}" styleClass="form-control" style="width:100%" placeholder="Ingrese nombre"/>
										<span class="help-block">
										</span>
									</div>
									<div class="form-group">
										<label for="direccion">Direccion</label>
										<p:inputText id="direccion" value="#{clienteBean.clienteSeleccionado.direccion}" styleClass="form-control" style="width:100%" placeholder="Ingrese direccion"/>
										<span class="help-block">
										</span>
									</div>
									<div class="form-group">
										<label for="telefono">Telefono</label>
										<p:inputText id="telfono" value="#{clienteBean.clienteSeleccionado.telefono}" styleClass="form-control" style="width:100%" placeholder="Ingrese telefono"/>
										<span class="help-block">
										</span>
									</div>
								</div>
								<div class="form-actions">
									<p:commandButton value="Confirme" class="btn green" actionListener="#{clienteBean.registraCliente()}" />
									<p:commandButton value="Cancela" class="btn default" immediate="true" oncomplete="PF('dialog').hide()" />
								</div>
							</div>
						</div>
						<!-- END Portlet PORTLET-->
					</div>
				</div>
			</h:form>									
		</p:dialog>
		
	</ui:define>
</ui:composition>
</h:html>
