<!DOCTYPE html> 
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"> 

	<ui:composition template="/resources/templates/container.xhtml">
		<ui:define name="pageTitle">Inicio</ui:define>
		<ui:define name="pageDescription">Descripción de la Página</ui:define>
		<ui:define name="pageLinks">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-home"></i>
					<h:link value="Inicio" outcome="/views/app/index.html"/>
				</li>
			</ul>
		</ui:define>
		<ui:define name="pageContent">
			<h:form>
			<div class="row">
				<div class="col-md-6">
					<div class="portlet solid green">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-gift"></i><h:outputText value="#{home.empresa.nombre}"/>
							</div>
						</div>
						<div class="portlet-body">
							<div class="scroller" style="height:220px; width: 100%" data-always-visible="1" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
								<h:outputText value="#{home.empresa.descripcion}"/><br></br>
								<p:panelGrid columns="2" layout="grid" >
								    <h:outputText value="Dirección:" />
									<h:outputText value="#{home.empresa.direccion}"/>
								 
								    <h:outputText value="Mail:" />
									<h:outputText value="#{home.empresa.email}"/>
								 
								    <h:outputText value="Telefonos fijos:" />
									<h:outputText value="#{home.empresa.telefonosFijos}"/>
								 
								    <h:outputText value="Celulares:" />
									<h:outputText value="#{home.empresa.celulares}"/>
								</p:panelGrid>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h:graphicImage library="images" name="logo_reporte.png" width="100%" />
				</div>
			</div>
			</h:form>
		</ui:define>
	</ui:composition> 
</h:html>
