<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Reportes</ui:define>
	<ui:define name="pageDescription">Reporte de Facturas</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Resumen de Facturas"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form prependId="false" id="form0">
			<p:growl id="messages" showDetail="true" autoUpdate="true" closable="true" showSummary="false"/>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Resumen de facturas
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<h:outputLabel for="basic" value="Días moroso: " />
        								<p:spinner id="basic" value="#{reporteResumenFacturaBean.diasMoroso}" min="0" stepFactor="30" />
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
	    											<p:commandButton value="PDF" style="width: 100%; border: 0;" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
												        <p:fileDownload value="#{reporteResumenFacturaBean.content}" />
												    </p:commandButton>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
								<!-- BEGIN TABLA -->
								<p:dataTable 
									id="tablaReporteResumenFacturaBean" 
									widgetVar="tablaReporteResumenFacturaBeanWidgetVar"
									value="#{reporteResumenFacturaBean.resumenFacturas}"
									var="resumenFactura" 
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
									paginatorPosition="bottom"
									paginator="true" 
									rows="5" 
									style="margin-bottom:20px">
								 
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Id"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.idFactura}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Numero factura"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.numeroFactura}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Fecha"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.fecha}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="IVA"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.porcentaje}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Total bruto"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.totalBruto}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Total neto"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.totalNeto}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="N° Abonos"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.cantidadAbonos}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Total Abonos"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.totalAbonado}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Deuda Actual"/>
									    </f:facet>
									    <h:outputText value="#{resumenFactura.deudaActual}" />
									</p:column>
								</p:dataTable>
								<!-- END TABLA -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		 
	</ui:define>
</ui:composition>
</h:html>
