<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Gastos</ui:define>
	<ui:define name="pageDescription">Listado de Gastos</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Gastos"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form prependId="false" id="form0">
			<p:growl id="beanValidationMessages" showDetail="false" autoUpdate="true" />
			<p:growl id="messages" showDetail="true" autoUpdate="false" />
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Lista de gastos
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<p:commandButton value="Nuevo Gasto +" id="sample_editable_1_new" class="btn green" update=":form1:detalleGasto" actionListener="#{gastoBean.asignaNuevoGasto()}" oncomplete="PF('gastoDialog').show()" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaGastos" fileName="gastos" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaGastos" fileName="gastos" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
								<!-- BEGIN TABLA -->
								<p:dataTable 
									id="tablaGastos" 
									widgetVar="tablaGastosWidgetVar"
									var="gasto" 
									value="#{gastoBean.gastos}"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
									paginatorPosition="bottom"
									paginator="true" 
									rows="5" 
									emptyMessage="No se encontraron gastos"
									style="margin-bottom:20px"
									update="@form">
								 
									<p:column headerText="Id" >
									    <h:outputText value="#{gasto.idGasto}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Fecha"/>
									    </f:facet>
									    <h:outputText value="#{gasto.fecha}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Monto" />
									    </f:facet>
									    <h:outputText value="#{gasto.monto}" />
									</p:column>
									
									<p:column>
									    <f:facet name="header">
									        <h:outputText value="Descripcion" />
									    </f:facet>
									    <h:outputText value="#{gasto.descripcion}" />
									</p:column>

									<p:column style="width:75px;text-align: center" headerText="Modifica" exportable="false">
										<p:commandButton update=":form1:detalleGasto" oncomplete="PF('gastoDialog').show()" icon="ui-icon-search" title="View">
											<f:setPropertyActionListener value="#{gasto}" target="#{gastoBean.gastoSeleccionado}" />
										</p:commandButton>
							        </p:column>
									
									<p:column style="width:70px;text-align: center" headerText="Elimina" exportable="false">
										<p:commandButton icon="ui-icon-trash" actionListener="#{gastoBean.eliminaGasto(gasto)}" update=":form0:messages" oncomplete="PF('tablaGastosWidgetVar').filter();">
											<p:confirm header="Confirma" message="¿ Estás seguro ?" icon="ui-icon-alert" />
										</p:commandButton>
							        </p:column>
							        
								</p:dataTable>
								<!-- END TABLA -->
								
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" >
							        <p:commandButton value="Elimina" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							        <p:commandButton value="Cancela" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							    </p:confirmDialog>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</h:form>
		
		 
		<h:form id="form1">
			<!-- Dialog -->
			<p:dialog 
				showHeader="false"
				draggable="false" 
				widgetVar="gastoDialog" 
				modal="true" 
				closable="false" 
				dynamic="true" 
				position="center"
				resizable="false"
				showEffect="fade" 
				hideEffect="fade" 
				width="50%"	>
			
				<p:outputPanel id="detalleGasto">
					<div class="row">
						<div class="col-md-12">
							<!-- BEGIN Portlet PORTLET-->
							<div class="portlet box green">
								<div class="portlet-title">
									<div class="caption">
										<i class="fa fa-gift"></i>Formulario Usuario
									</div>
								</div>
								<div class="portlet-body form portlet-empty">
									<div class="form-body">
										<div class="form-group">
											<label for="descripcion">Descripcion</label>
											<p:inputText id="descripcion" value="#{gastoBean.gastoSeleccionado.descripcion}" styleClass="form-control" style="width:100%" placeholder="Ingrese la descripción del gasto" />
											<span class="help-block">
											</span>
										</div>
										<div class="form-group">
											<label for="monto">Monto</label>
											<p:spinner id="monto" value="#{gastoBean.gastoSeleccionado.monto}" min="1" />
											<span class="help-block">
											</span>
										</div>
									</div>
									<div class="form-actions">
										<p:commandButton value="Confirme" class="btn green" actionListener="#{gastoBean.registraGasto()}"/>
										<p:commandButton value="Cancela" class="btn default" immediate="true" oncomplete="PF('gastoDialog').hide()" />
									</div>
								</div>
							</div>
							<!-- END Portlet PORTLET-->
						</div>
					</div>
				</p:outputPanel>
			</p:dialog>
			<!-- End Dialog -->			
		</h:form>									
	
	</ui:define>
</ui:composition>
</h:html>
