<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Materiales</ui:define>
	<ui:define name="pageDescription">Listado de Materiales</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Materials"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form prependId="false" id="form0">
			<p:growl id="beanValidationMessages" showDetail="false" autoUpdate="true" />
			<p:growl id="messages" showDetail="true" autoUpdate="false" />
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Lista de materiales
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<p:commandButton value="Nuevo Material +" id="sample_editable_1_new" class="btn green" actionListener="#{materialBean.asignaNuevoMaterial()}" oncomplete="PF('dialog').show()"  />
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaExporter2" fileName="materiales" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaExporter2" fileName="materiales" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
							
								<!-- BEGIN TABLA -->
								<p:dataTable 
										id="tablaExporter2"
										value="#{materialBean.materiales}" 
										var="material"
										paginator="true"
										rows="10"
										rowsPerPageTemplate="10,20,30"
										editable="true"
										style="margin-bottom:20px"
										update="@form"
										paginatorPosition="bottom"
										filteredValue="#{materialBean.materialesFiltrados}"
										emptyMessage="No se encontraron registros">
									
									<f:facet name="header">
										<div align="left">        
											<h:outputText value="Filtrado por :" />
										</div>
									</f:facet>
									
									<p:column headerText="Nombre" filterBy="#{material.nombre}" filterMatchMode="contains">
										<h:outputText value="#{material.nombre}"/>
								    </p:column>
								    
								    <p:column headerText="Sector" filterBy="#{material.sector}" filterMatchMode="contains">
										<h:outputText value="#{material.sector}"/>
								    </p:column>
								    
								    <p:column headerText="Lugar" filterBy="#{material.lugar}" filterMatchMode="contains">
										<h:outputText value="#{material.lugar}"/>
								    </p:column>

								    <p:column headerText="Valor" filterBy="#{material.valor}" filterMatchMode="contains">
               							<h:outputText value="#{material.valor}" />
								    </p:column>

									<p:column headerText="Stock" filterBy="#{material.stockCliente}" filterMatchMode="contains">
										<h:outputText value="#{material.stockCliente}"/>
								    </p:column>
	       							<!-- Columna con el boton para editar -->
	       							<p:column exportable="false" style="width:75px" headerText="Modifica">
           								<p:commandButton icon="ui-icon-search" title="Modifica material" oncomplete="PF('dialog').show()" update="@form">
           									<f:setPropertyActionListener value="#{material}" target="#{materialBean.materialSeleccionado}" />
           								</p:commandButton>
       								</p:column>
       								<p:column exportable="false" style="width:70px" headerText="Elimina">
                   						<p:commandButton icon="ui-icon-trash" title="Elimina material" actionListener="#{materialBean.eliminaMaterial(material)}" update=":form0:messages" >
                   							<p:confirm header="Confirma" message="¿ Estás seguro ?" icon="ui-icon-alert" />
                   						</p:commandButton>
       								</p:column>
       								
								</p:dataTable>	
								
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" >
							        <p:commandButton value="Elimina" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							        <p:commandButton value="Cancela" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							    </p:confirmDialog>
								<!-- END TABLA -->
								<p:dialog 
										id="idDialog"
										showHeader="false"
										widgetVar="dialog" 
										showEffect="explode"  
										draggable="false" 
										modal="true" 
										closable="false" 
										dynamic="true" 
										position="center"
										resizable="false"
										width="50%"	>
										
									<div class="row">
										<div class="col-md-12">
											<!-- BEGIN Portlet PORTLET-->
											<div class="portlet box green">
												<div class="portlet-title">
													<div class="caption">
														<i class="fa fa-gift"></i>Formulario Material
													</div>
												</div>
												<div class="portlet-body form portlet-empty">
													<div class="form-body">
														<div class="form-group">
															<label for="nombre">Nombre</label>
															<p:inputText id="nombre" value="#{materialBean.materialSeleccionado.nombre}" styleClass="form-control" style="width:100%" placeholder="Ingrese el nombre"/>
															<span class="help-block">
															</span>
														</div>
														<div class="form-group">
															<label for="sector">Sector</label>
															<p:inputText id="sector" value="#{materialBean.materialSeleccionado.sector}" styleClass="form-control" style="width:100%" placeholder="Ingrese el sector"/>
															<span class="help-block">
															</span>
														</div>
														<div class="form-group">
															<label for="lugar">Lugar</label>
															<p:inputText id="lugar" value="#{materialBean.materialSeleccionado.lugar}" styleClass="form-control" style="width:100%" placeholder="Ingrese el lugar"/>
															<span class="help-block">
															</span>
														</div>
														<div class="form-group">
															<label for="valor">Valor</label>
															<p:inputText id="valor" value="#{materialBean.materialSeleccionado.valor}" styleClass="form-control" style="width:100%" placeholder="Ingrese el valor"/>
															<span class="help-block">
															</span>
														</div>
													</div>
													<div class="form-actions">
														<p:commandButton value="Confirme" id="sample_editable_2_new" class="btn green" actionListener="#{materialBean.registraMaterial()}" />
														<p:commandButton value="Cancela" id="sample_editable_1_edit" class="btn default" immediate="true" oncomplete="PF('dialog').hide()"  />
													</div>
												</div>
											</div>
											<!-- END Portlet PORTLET-->
										</div>
									</div>									
								</p:dialog>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		
	</ui:define>
</ui:composition>
</h:html>
