<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Surtidos</ui:define>
	<ui:define name="pageDescription">Listado de Surtidos</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Surtidos"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form id="frm" prependId="false">
			<p:growl id="growl" showDetail="true" autoUpdate="true"/>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Lista de surtidos
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<p:commandButton value="Nuevo Surtido +" id="sample_editable_1_new" class="btn green" actionListener="#{surtidoBean.asignaNuevoSurtido()}" oncomplete="PF('dialog').show()"  />
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaExporter3" fileName="surtidos" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaExporter3" fileName="surtidos" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
								<p:panel id="tbl">
								<!-- BEGIN TABLA -->
								<p:dataTable 
										id="tablaExporter3"
										value="#{surtidoBean.surtidos}" 
										var="surtido"
										paginator="true"
										rows="10"
										rowsPerPageTemplate="10,20,30"
										editable="true"
										style="margin-bottom:20px"
										update="@form"
										paginatorPosition="bottom"
										filteredValue="#{surtidoBean.surtidosFiltrados}"
										emptyMessage="No se encontraron registros">
									
									<f:facet name="header">
										<div align="left">        
											<h:outputText value="Filtrado por :" />
										</div>
									</f:facet>
									
									<p:column headerText="Id" filterBy="#{surtido.idSurtido}" filterMatchMode="contains">
										<h:outputText value="#{surtido.idSurtido}"/>
								    </p:column>

								    <p:column headerText="Factura" filterBy="#{surtido.numeroFactura}" filterMatchMode="contains">
										<p:cellEditor>
               								<f:facet name="output"><h:outputText value="#{surtido.numeroFactura}" /></f:facet>
               								<f:facet name="input"><p:inputText value="#{surtido.numeroFactura}" style="width:100%" label="Numero Factura"/></f:facet>
           								<p:message for="input" />
           								</p:cellEditor>
								    </p:column>
								    
								    <p:column headerText="Proveedor" filterBy="#{surtido.proveedor.razonSocial}" filterMatchMode="contains">
										<p:cellEditor>
               								<f:facet name="output"><h:outputText value="#{surtido.proveedor.razonSocial}" /></f:facet>
               								<f:facet name="input"><p:inputText value="#{surtido.proveedor.razonSocial}" style="width:100%" label="Proveedor"/></f:facet>
           								<p:message for="input" />
           								</p:cellEditor>
								    </p:column>
								    
								    <p:column headerText="Fecha" filterBy="#{surtido.fecha}" filterMatchMode="contains">
										<p:cellEditor>
               								<f:facet name="output"><h:outputText value="#{surtido.fecha}" /></f:facet>
               								<f:facet name="input"><p:inputText value="#{surtido.fecha}" style="width:100%" label="Fecha"/></f:facet>
           								<p:message for="input" />
           								</p:cellEditor>
								    </p:column>
	       							<!-- Columna con el boton para editar -->
	       							<p:column exportable="false" style="width:75px" headerText="Modifica">
           								<p:commandButton icon="ui-icon-search" title="Modifica surtido" oncomplete="PF('dialog').show()" update="@form">
           									<f:setPropertyActionListener value="#{surtido}" target="#{surtidoBean.surtidoSeleccionado}" />
           								</p:commandButton>
       								</p:column>
       								<p:column exportable="false" style="width:70px" headerText="Elimina">
                   						<p:commandButton icon="ui-icon-trash" title="Elimina surtido" actionListener="#{surtidoBean.eliminaSurtido(surtido)}" update="@form" >
                   							<p:confirm header="Confirma" message="Si eliminas el surtido, el stock de materiales puede quedar negativo. ¿ Estás seguro ?" icon="ui-icon-alert" />
                   						</p:commandButton>
       								</p:column>
       								
								</p:dataTable>	
								
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" >
							        <p:commandButton value="Elimina" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							        <p:commandButton value="Cancela" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							    </p:confirmDialog>
								
								</p:panel>
								<!-- END TABLA -->
								<p:dialog 
										id="idDialog"
										showHeader="false"
										widgetVar="dialog" 
										showEffect="explode"  
										draggable="false" 
										modal="true" 
										closable="false" 
										dynamic="true" 
										position="center"
										resizable="false"
										width="80%"
										height="800px"	>
										
									<div class="row">
										<div class="col-md-12">
											<div class="portlet box grey-cascade">
												<div class="portlet-title">
													<div class="caption">
														<i class="fa fa-globe"></i>Lista de surtidos
													</div>
												</div>
												<div class="portlet-body">
													<div class="table-toolbar">
														<div class="row">
															<div class="col-md-6">
															</div>
															<div class="col-md-6">
																<div class="btn-group pull-right">
																	<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
																		Exportar a <i class="fa fa-angle-down"></i>
																	</button>
																	<ul class="dropdown-menu pull-right">
																		<li>
																			<h:commandLink value="Excel">
							        											<p:dataExporter type="xls" target="tablaExporter" fileName="prodcutos" pageOnly="true" />
							    											</h:commandLink>
																		</li>
																		<li>
																			<h:commandLink value="Pdf">
							        											<p:dataExporter type="pdf" target="tablaExporter" fileName="productos" pageOnly="true" />
							    											</h:commandLink>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
														<div class="row">
															<div class="col-md-6 col-sm-12">
																<div id="sample_1_filter" class="dataTables_filter">
						        									<h:outputText value="Proveedor"/>
						        									<p:autoComplete 
						        										id="proveedorPojo" 
						        										value="#{surtidoBean.proveedorSeleccionado}" 
						        										completeMethod="#{surtidoBean.buscaProveedor}"
						                        						var="proveedor" 
						                        						itemLabel="#{proveedor.razonSocial}" 
						                        						itemValue="#{proveedor}" 
						                        						converter="#{proveedorConverter}"
						                        						dropdown="true"
						                        						forceSelection="true"
						                        						/>
																</div>
															</div>
															<div class="col-md-6 col-sm-12">
																<h:outputText value="Factura"/>
																<p:inputText value="#{surtidoBean.surtidoSeleccionado.numeroFactura}" style="width: 90%" />
															</div>
														</div>
													</div>
													<hr></hr>
														<p:panel id="tablas">
														<p:growl id="growlTablas" showDetail="true"/>
														<p:remoteCommand name="onCellEdit" update="tablaExporter tablaExporter5" />
													<div>
														<!-- BEGIN TABLA PRODUCTOS-->
														<p:dataTable 
																id="tablaExporter"
																value="#{surtidoBean.listadoMaterialesEnSurtido}" 
																widgetVar="listadoMaterialesEnSurtidoWV"
																var="lineaSurtido"
																paginator="true"
																rows="10"
																rowsPerPageTemplate="10,20,40,60,90,150"
																style="margin-bottom:20px"
																editMode="cell"
																editable="true" 
																paginatorPosition="bottom"
																filteredValue="#{surtidoBean.listadoMaterialesEnSurtidoFiltrados}"
																emptyMessage="No se encontraron registros">
															
															<f:facet name="header">
																<div align="left">        
																	<h:outputText value="Filtrado por :" />
																</div>
															</f:facet>
															
															<p:ajax event="cellEdit" listener="#{surtidoBean.onCellEdit}" oncomplete="onCellEdit()" />
															
															<p:column headerText="Id" filterBy="#{lineaSurtido.material.idMaterial}" filterMatchMode="contains">
																<h:outputText value="#{lineaSurtido.material.idMaterial}"/>
														    </p:column>
															
															<p:column headerText="Nombre" filterBy="#{lineaSurtido.material.nombre}" filterMatchMode="contains">
																<h:outputText value="#{lineaSurtido.material.nombre}"/>
														    </p:column>
													    
														    <p:column headerText="Cantidad">
						               							<p:cellEditor>
						                  							<f:facet name="output"><h:outputText value="#{lineaSurtido.nuevaCantidad}" /></f:facet>
						                  							<f:facet name="input"><p:inputText id="modelInput1" value="#{lineaSurtido.nuevaCantidad}" style="width:96%"/></f:facet>
						              							</p:cellEditor>
														    </p:column>
														    
														    <p:column headerText="Valor">
						               							<p:cellEditor>
						                  							<f:facet name="output"><h:outputText value="#{lineaSurtido.valor}" /></f:facet>
						                  							<f:facet name="input"><p:inputText id="modelInput2" value="#{lineaSurtido.valor}" style="width:96%"/></f:facet>
						              							</p:cellEditor>
														    </p:column>
														    <p:column exportable="false" style="width:70px" headerText="Elimina">
						           								<p:commandButton icon="ui-icon-search" title="Elimina linea" actionListener="#{surtidoBean.mueveEliminar(lineaSurtido)}" update=":frm:tablas" />
						       								</p:column>
														</p:dataTable>	
														<!-- END TABLA PRODUCTOS -->
													</div>
													<hr></hr>
													<div>
														<!-- BEGIN TABLA PRODUCTOS-->
														<p:dataTable 
																id="tablaExporter5"
																value="#{surtidoBean.listadoMaterialesFueraDeSurtido}"
																widgetVar="listadoMaterialesFueraDeSurtidoWV" 
																var="lineaSurtido"
																paginator="true"
																rows="10"
																rowsPerPageTemplate="10,20,40,60,90,150"
																style="margin-bottom:20px"
																paginatorPosition="bottom"
																filteredValue="#{surtidoBean.listadoMaterialesFueraDeSurtidoFiltrados}"
																emptyMessage="No se encontraron registros">
															
															<f:facet name="header">
																<div align="left">        
																	<h:outputText value="Filtrado por:" />
																</div>
															</f:facet>
															
															<p:column headerText="Id" filterBy="#{lineaSurtido.material.idMaterial}" filterMatchMode="contains">
																<h:outputText value="#{lineaSurtido.material.idMaterial}"/>
														    </p:column>
															
															<p:column headerText="Nombre" filterBy="#{lineaSurtido.material.nombre}" filterMatchMode="contains">
																<h:outputText value="#{lineaSurtido.material.nombre}"/>
														    </p:column>
														    
													    	<p:column exportable="false" style="width:65px" headerText="Agrega">
						           								<p:commandButton icon="ui-icon-search" title="Agrega linea" actionListener="#{surtidoBean.mueveAgregar(lineaSurtido)}" update=":frm:tablas" />
						       								</p:column>
														</p:dataTable>	
														<!-- END TABLA PRODUCTOS -->
													</div>
														</p:panel>
													<hr></hr>
													<div class="form-actions">
														<p:commandButton value="Confirme" id="sample_editable_2_new" class="btn green" actionListener="#{surtidoBean.registraSurtido()}" update=":frm:tablas" />
														<p:button value="Cancela" id="sample_editable_1_edit" class="btn default" update="idDialog" oncomplete="PF('dialog').hide()"  />
													</div>
												</div>
											</div>
										</div>
									</div>				
								</p:dialog>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		
	</ui:define>
</ui:composition>
</h:html>
