<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Devoluciones</ui:define>
	<ui:define name="pageDescription">Listado de Devoluciones</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Devoluciones"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<!-- FORM 0 -->
		<h:form id="form0" prependId="false">
			<p:growl id="growl" showDetail="true"/>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Lista de devoluciones
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
											<!-- 
										<div class="btn-group">
											<p:commandButton value="Nueva Orden +" id="sample_editable_1_new" class="btn green" actionListener="#{ordenBean.asignaNuevaOrden()}" oncomplete="PF('dialog').show()"  />
										</div>
											 -->
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaOrdenes" fileName="ordenes" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaOrdenes" fileName="ordenes" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
								<!-- BEGIN TABLA -->
								<p:dataTable 
										id="tablaOrdenes"
										value="#{devolucionBean.ordenes}" 
										var="orden"
										paginator="true"
										rows="10"
										rowsPerPageTemplate="10,20,30"
										style="margin-bottom:20px"
										update=":form0"
										paginatorPosition="bottom"
										filteredValue="#{devolucionBean.devolucionesFiltradas}"
										emptyMessage="No se encontraron registros">
									
									<f:facet name="header">
										<div align="left">        
											<h:outputText value="Filtrado por :" />
										</div>
									</f:facet>
									
									<p:column headerText="Id" filterBy="#{orden.idOrden}" filterMatchMode="contains">
										<h:outputText value="#{orden.idOrden}"/>
								    </p:column>

								    <p:column headerText="Cliente" filterBy="#{orden.cliente.nombre}" filterMatchMode="contains">
										<h:outputText value="#{orden.cliente.nombre}" />
								    </p:column>
								    
								    <p:column headerText="Fecha" filterBy="#{orden.fecha}" filterMatchMode="contains">
										<h:outputText value="#{orden.fecha}" style="width:100%" label="Fecha"/>
								    </p:column>
	       							<!-- Columna con el boton para editar -->
	       							<p:column exportable="false" style="width:75px" headerText="Modifica">
           								<p:commandButton icon="ui-icon-search" title="Modifica orden" oncomplete="PF('dialog').show()" update=":form0">
           									<f:setPropertyActionListener value="#{orden}" target="#{devolucionBean.ordenSeleccionada}" />
           								</p:commandButton>
       								</p:column>
       								
								</p:dataTable>	
								<!-- END TABLA -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		<!-- FIN FORM 0 -->
		<!-- FORM 1 -->
		<h:form id="form1">
			<p:growl id="growl" showDetail="true"/>
			<p:dialog 
					id="idDialog"
					showHeader="false"
					widgetVar="dialog" 
					showEffect="explode"  
					draggable="false" 
					modal="true" 
					closable="false" 
					dynamic="true" 
					position="center"
					resizable="false"
					width="80%"
					height="800px">
					
				<div class="row">
					<div class="col-md-12">
						<div class="portlet box grey-cascade">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-globe"></i>Lista de Materiales y Devoluciones
								</div>
							</div>
							<div class="portlet-body">
								<div class="table-toolbar">
									<div class="row">
										<div class="col-md-6">
										</div>
										<div class="col-md-6">
										</div>
									</div>
								</div>
								<div>
									<p:dataTable 
											id="tablaDevoluciones"
											value="#{devolucionBean.lineasMaterial}" 
											var="lineaMaterial"
											paginator="true"
											rows="10"
											rowsPerPageTemplate="10,20,30"
											style="margin-bottom:20px" 
											expandedRow="true">
										
										<p:column headerText="Id">
											<h:outputText value="#{lineaMaterial.idLineaMaterial}"/>
									    </p:column>
	
									    <p:column headerText="Material">
											<h:outputText value="#{lineaMaterial.material.nombre}" />
									    </p:column>
									    
		       							<!-- Columna con el boton para editar -->
		       							<p:column exportable="false" style="width:65px" headerText="Agrega">
	           								<p:commandButton style="height: 30px; padding: 0; position: 0; margin: 0; border: 0;" styleClass="btn green" title="Modifica devoluciones" value="+" oncomplete="PF('dialog1').show()">
	           									<f:setPropertyActionListener value="#{lineaMaterial}" target="#{devolucionBean.lineaMaterialSeleccionada}" />
	           								</p:commandButton>
	       								</p:column>
	       								
	       								<p:rowExpansion>
								        	 <p:dataTable var="devolucion" value="#{lineaMaterial.devoluciones}">
										        <p:column headerText="Id">
										            <h:outputText value="#{devolucion.idDevolucion}" />
										        </p:column>
										        <p:column headerText="Cantidad">
										            <h:outputText value="#{devolucion.cantidad}" />
										        </p:column>
										        <p:column headerText="Fecha">
										            <h:outputText value="#{devolucion.fecha}" />
										        </p:column>
										        <p:column headerText="Motivo">
										            <h:outputText value="#{devolucion.motivo}" />
										        </p:column>
										        
										        <p:column exportable="false" style="width:75px" headerText="Modifica">
			           								<p:commandButton icon="ui-icon-search" title="Modifica devolucion" oncomplete="PF('dialog1').show()">
			           									<f:setPropertyActionListener value="#{devolucion}" target="#{devolucionBean.devolucionSeleccionada}" update=":form2:idDialog1" />
			           								</p:commandButton>
			       								</p:column>
			       								
			       								<p:column exportable="false" style="width:70px" headerText="Elimina">
			           								<p:commandButton icon="ui-icon-trash" title="Elimina devolucion" actionListener="#{devolucionBean.eliminaDevolucion(devolucion)}" update=":form1:tablaDevoluciones">
			           									<p:confirm header="Confirma" message="¿ Estás seguro ?" icon="ui-icon-alert" />
			           								</p:commandButton>
			       								</p:column>
											</p:dataTable>
								        </p:rowExpansion>
									</p:dataTable>
									
									<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" >
								        <p:commandButton value="Elimina" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
								        <p:commandButton value="Cancela" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
								    </p:confirmDialog>
									
								</div>	
								<div class="form-actions">
									<p:commandButton value="Cerrar" id="sample_editable_1_edit" class="btn default" update="idDialog" oncomplete="PF('dialog').hide()"  />
								</div>
							</div>
						</div>
					</div>
				</div>				
			</p:dialog>
		</h:form>
		<!-- END FORM 1 -->
		<!-- FORM 2 -->
		<h:form id="form2">
			<p:growl id="growl" showDetail="true" autoUpdate="true"/>
			<p:dialog 
					id="idDialog1"
					showHeader="false"
					draggable="false" 
					widgetVar="dialog1" 
					showEffect="explode"  
					modal="true" 
					closable="false" 
					dynamic="true" 
					position="center"
					resizable="false"
					width="50%"	>
				
				<div class="row">
					<div class="col-md-12">
						<!-- BEGIN Portlet PORTLET-->
						<div class="portlet box green">
							<div class="portlet-title">
								<div class="caption">
									<i class="fa fa-gift"></i>Formulario de Devolución
								</div>
							</div>
							<div class="portlet-body form portlet-empty">
								<div class="form-body">
									<div class="form-group">
										<label for="motivo">Motivo</label>
										<p:inputText id="motivo" value="#{devolucionBean.devolucionSeleccionada.motivo}" styleClass="form-control" style="width:100%" placeholder="Ingrese el motivo" />
										<span class="help-block">
										</span>
									</div>
									<div class="form-group">
										<label for="cantidad">Cantidad</label>
										<!-- <p:inputText id="cantidad" value="#{devolucionBean.devolucionSeleccionada.cantidad}" styleClass="form-control" style="width:100%" placeholder="Ingrese el motivo" />  -->
										<p:spinner 
											id="minMax" 
											value="#{devolucionBean.devolucionSeleccionada.cantidad}" 
											min="0" 
											max="#{devolucionBean.cantidadMaxima(devolucionBean.devolucionSeleccionada)}" 
											onkeydown="return false;" />
										<span class="help-block">
										</span>
									</div>
								</div>
								<div class="form-actions">
									<p:commandButton value="Confirme" id="sample_editable_2_new" class="btn green" update=":form1:tablaDevoluciones" actionListener="#{devolucionBean.registraDevolucion()}" />
									<p:commandButton value="Cancela" id="sample_editable_1_edit" class="btn default" update="idDialog1" oncomplete="PF('dialog1').hide()"  />
								</div>
							</div>
						</div>
						<!-- END Portlet PORTLET-->
					</div>
				</div>
			</p:dialog>
		</h:form>
		<!-- END FORM 2 -->
	</ui:define>
</ui:composition>
</h:html>
