<!DOCTYPE html>
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/resources/templates/container.xhtml">
	<ui:define name="pageTitle">Administracion de Ordenes</ui:define>
	<ui:define name="pageDescription">Listado de Ordenes</ui:define>
	<ui:define name="pageLinks">
		<ul class="page-breadcrumb">
			<li>
				<i class="fa fa-home"></i> 
				<h:link value="Inicio" outcome="/views/app/index.html"/>
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
				<h:link value="Lista de Ordenes"/>
			</li>
		</ul>
	</ui:define>
	<ui:define name="pageContent">
		<h:form id="frm" prependId="false">
			<p:growl id="growl" showDetail="true"/>
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box grey-cascade">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-globe"></i>Lista de ordenes
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-toolbar">
								<div class="row">
									<div class="col-md-6">
										<div class="btn-group">
											<p:commandButton value="Nueva Orden +" id="sample_editable_1_new" class="btn green" actionListener="#{ordenBean.asignaNuevaOrden()}" oncomplete="PF('dialog').show()"  />
										</div>
									</div>
									<div class="col-md-6">
										<div class="btn-group pull-right">
											<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												Exportar a <i class="fa fa-angle-down"></i>
											</button>
											<ul class="dropdown-menu pull-right">
												<li>
													<h:commandLink value="Excel">
	        											<p:dataExporter type="xls" target="tablaOrdenes" fileName="ordenes" pageOnly="true" />
	    											</h:commandLink>
												</li>
												<li>
													<h:commandLink value="Pdf">
	        											<p:dataExporter type="pdf" target="tablaOrdenes" fileName="ordenes" pageOnly="true" />
	    											</h:commandLink>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<div id="sample_1_filter" class="dataTables_filter">
										</div>
									</div>
								</div>
							</div>
							<div>
								<p:panel id="tbl">
								<!-- BEGIN TABLA -->
								<p:dataTable 
										id="tablaOrdenes"
										value="#{ordenBean.ordenes}" 
										var="orden"
										paginator="true"
										rows="10"
										rowsPerPageTemplate="10,20,30"
										style="margin-bottom:20px"
										update="@form"
										paginatorPosition="bottom"
										filteredValue="#{ordenBean.ordenesFiltradas}"
										emptyMessage="No se encontraron registros">
									
									<f:facet name="header">
										<div align="left">        
											<h:outputText value="Filtrado por :" />
										</div>
									</f:facet>
									
									<p:column headerText="Id" filterBy="#{orden.idOrden}" filterMatchMode="contains">
										<h:outputText value="#{orden.idOrden}"/>
								    </p:column>

								    <p:column headerText="Cliente" filterBy="#{orden.cliente.nombre}" filterMatchMode="contains">
										<h:outputText value="#{orden.cliente.nombre}" />
								    </p:column>
								    
								    <p:column headerText="Fecha" filterBy="#{orden.fecha}" filterMatchMode="contains">
										<h:outputText value="#{orden.fecha}" style="width:100%" label="Fecha"/>
								    </p:column>
	       							<!-- Columna con el boton para editar -->
	       							<p:column exportable="false" style="width:75px" headerText="Modifica">
           								<p:commandButton icon="ui-icon-search" title="Modifica orden" oncomplete="PF('dialog').show()" update="@form">
           									<f:setPropertyActionListener value="#{orden}" target="#{ordenBean.ordenSeleccionada}" />
           								</p:commandButton>
       								</p:column>
       								
       								<p:column exportable="false" style="width:70px" headerText="Elimina">
                   						<p:commandButton icon="ui-icon-trash" title="Elimina orden" actionListener="#{ordenBean.eliminaOrden(orden)}" update="@form" >
                   							<p:confirm header="Confirma" message="¿ Estás seguro ?" icon="ui-icon-alert" />
                   						</p:commandButton>
       								</p:column>
       								
								</p:dataTable>	
								
								<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" closable="false" >
							        <p:commandButton value="Elimina" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
							        <p:commandButton value="Cancela" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
							    </p:confirmDialog>
								
								</p:panel>
								<!-- END TABLA -->
								<p:dialog 
										id="idDialog"
										showHeader="false"
										widgetVar="dialog" 
										showEffect="explode"  
										draggable="false" 
										modal="true" 
										closable="false" 
										dynamic="true" 
										position="center"
										resizable="false"
										width="80%"
										height="800px"	>
										
									<div class="row">
										<div class="col-md-12">
											<div class="portlet box grey-cascade">
												<div class="portlet-title">
													<div class="caption">
														<i class="fa fa-globe"></i>Lista de ordenes
													</div>
												</div>
												<div class="portlet-body">
													<div class="table-toolbar">
														<div class="row">
															<div class="col-md-6">
															</div>
															<div class="col-md-6">
																<div class="btn-group pull-right">
																	<button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
																		Exportar a <i class="fa fa-angle-down"></i>
																	</button>
																	<ul class="dropdown-menu pull-right">
																		<li>
																			<h:commandLink value="Excel">
							        											<p:dataExporter type="xls" target="tablaLineasMaterial" fileName="prodcutos" pageOnly="true" />
							    											</h:commandLink>
																		</li>
																		<li>
																			<h:commandLink value="Pdf">
							        											<p:dataExporter type="pdf" target="tablaLineasMaterial" fileName="productos" pageOnly="true" />
							    											</h:commandLink>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
													<div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
														<div class="row">
															<div class="col-md-6 col-sm-12">
																<div id="sample_1_filter" class="dataTables_filter">
						        									<h:outputText value="Cliente" />
						        									<p:autoComplete 
						        										id="clientePojo" 
						        										value="#{ordenBean.clienteSeleccionado}" 
						        										completeMethod="#{ordenBean.buscaClientePorRut}"
						                        						var="cliente" 
						                        						itemLabel="#{cliente.rut}" 
						                        						itemValue="#{cliente}" 
						                        						converter="#{clienteConverter}"
						                        						dropdown="true"
						                        						forceSelection="true"
						                        						
						                        						/>
																</div>
															</div>
														</div>
													</div>
													<hr></hr>
														<p:panel id="tablas">
														<p:growl id="growlTablas" showDetail="true"/>
														<p:remoteCommand name="onCellEdit" update="tablaLineasMaterial tablaExporter5" />
													<div>
														<!-- BEGIN TABLA PRODUCTOS-->
														<p:dataTable 
																id="tablaLineasMaterial"
																value="#{ordenBean.listadoMaterialesEnOrden}" 
																widgetVar="listadoMaterialesEnOrdenWV"
																var="lineaMaterial"
																paginator="true"
																rows="10"
																rowsPerPageTemplate="10,20,40,60,90,150"
																style="margin-bottom:20px"
																editMode="cell"
																editable="true" 
																paginatorPosition="bottom"
																filteredValue="#{ordenBean.listadoMaterialesEnOrdenFiltrados}"
																emptyMessage="No se encontraron registros">
															
															<f:facet name="header">
																<div align="left">        
																	<h:outputText value="Filtrado por :" />
																</div>
															</f:facet>
															
															<p:ajax event="cellEdit" listener="#{ordenBean.onCellEdit}" update=":frm:total" oncomplete="onCellEdit()" />
															
															<p:column headerText="Id" filterBy="#{lineaMaterial.material.idMaterial}" filterMatchMode="contains">
																<h:outputText value="#{lineaMaterial.material.idMaterial}"/>
														    </p:column>
															
															<p:column headerText="Nombre" filterBy="#{lineaMaterial.material.nombre}" filterMatchMode="contains">
																<h:outputText value="#{lineaMaterial.material.nombre}"/>
														    </p:column>
													    
														    <p:column headerText="Cantidad">
						               							<p:cellEditor >
						                  							<f:facet name="output"><h:outputText value="#{lineaMaterial.cantidad}" /></f:facet>
						                  							<f:facet name="input">
						                  								<p:spinner id="minMax" value="#{lineaMaterial.cantidad}" min="#{ordenBean.cantidadMinima(lineaMaterial)}" max="#{ordenBean.cantidadMaxima(lineaMaterial)}"  onkeydown="return false;" />
						                  							</f:facet>
						              							</p:cellEditor>
														    </p:column>
														    
														    <p:column id="col" headerText="Stock">
																<h:outputText id="stockActual" value="#{ordenBean.stockActual(lineaMaterial)}"/>
														    </p:column>
														    
														    <p:column headerText="Valor">
						                  						<h:outputText value="#{lineaMaterial.material.valor}" />
														    </p:column>
														    
														    <p:column exportable="false" style="width:70px" headerText="Elimina">
						           								<p:commandButton icon="ui-icon-search" title="Elimina linea" actionListener="#{ordenBean.mueveEliminar(lineaMaterial)}" update=":frm:tablas :frm:total" />
						       								</p:column>
														</p:dataTable>	
														<!-- END TABLA PRODUCTOS -->
													</div>
													<hr></hr>
													<div>
														<!-- BEGIN TABLA PRODUCTOS-->
														<p:dataTable 
																id="tablaExporter5"
																value="#{ordenBean.listadoMaterialesFueraDeOrden}" 
																widgetVar="listadoMaterialesFueraDeOrdenWV"
																var="lineaMaterial"
																paginator="true"
																rows="10"
																rowsPerPageTemplate="10,20,40,60,90,150"
																style="margin-bottom:20px"
																paginatorPosition="bottom"
																filteredValue="#{ordenBean.listadoMaterialesFueraDeOrdenFiltrados}"
																emptyMessage="No se encontraron registros">
															
															<f:facet name="header">
																<div align="left">        
																	<h:outputText value="Filtrado por :" />
																</div>
															</f:facet>
															
															<p:column headerText="Id" filterBy="#{lineaMaterial.material.idMaterial}" filterMatchMode="contains">
																<h:outputText value="#{lineaMaterial.material.idMaterial}"/>
														    </p:column>
															
															<p:column headerText="Nombre" filterBy="#{lineaMaterial.material.nombre}" filterMatchMode="contains">
																<h:outputText value="#{lineaMaterial.material.nombre}"/>
														    </p:column>
														    
														    <p:column headerText="Valor">
						                  						<h:outputText value="#{lineaMaterial.material.valor}" />
														    </p:column>
														    
													    	<p:column exportable="false" style="width:65px" headerText="Agrega">
						           								<p:commandButton icon="ui-icon-search" title="Agrega linea" actionListener="#{ordenBean.mueveAgregar(lineaMaterial)}" update=":frm:tablas :frm:total" />
						       								</p:column>
														</p:dataTable>	
														<!-- END TABLA PRODUCTOS -->
													</div>
														</p:panel>
													<hr></hr>
													<div class="form-actions">
														<p:commandButton value="Confirme" id="sample_editable_2_new" class="btn green" actionListener="#{ordenBean.registraOrden()}" update=":frm:tablas" />
														<p:button value="Cancela" id="sample_editable_1_edit" class="btn default" update="idDialog" oncomplete="PF('dialog').hide()" action="#{ordenBean.limpiaFiltros()}" />
														<p:panel id="total" style="float: right;">
															<p:panel style="float: right;">
																<label>Total + IVA(#{ordenBean.impuesto.porcentaje}%)</label>
																<b><span>#{ordenBean.totalNeto * (1 + (ordenBean.impuesto.porcentaje / 100))}</span></b>
															</p:panel>
															<p:panel style="float: right;">
																<label>Total neto</label>
																<b><span>#{ordenBean.totalNeto}</span></b>
															</p:panel>
														</p:panel>
													</div>
												</div>
											</div>
										</div>
									</div>				
								</p:dialog>
							</div>
						</div>
					</div>
				</div>
			</div>
		</h:form>
		
	</ui:define>
</ui:composition>
</h:html>
